<div class="m-page-header">
    <h1>View Content Trigger</h1>
    <h4>Embed information into a QRcode for workplace retrieval</h4>
</div>

<form class="m-new-content-trigger" {{action "onSubmit" on="submit"}}>
    <div class="row">
        <div class="cell input-fields">
            <div class="input-field">
                {{input type="text" value=model.title placeholder="Name of Content Trigger e.g. Aisle 5 Info"}}
            </div>
            <div class="input-field">
                {{textarea value=model.content placeholder="Text Content to be embedded in QRCode (Limit 50 Characters)"}}
            </div>
        </div>
        <div class="cell">
            <div class="qrcode-header">QRCode Trigger</div>
            <div id="qrcode-render-target">
                {{#view Ember4.QRCodePreviewView}}{{/view}}
            </div>
        </div>
    </div>
    <div class="controls">
        <button type="submit" class="btn btn-lg btn-primary">Update</button>
        <button {{action "onPrint"}} class="btn btn-lg btn-info">Print</button>
        <button {{action "onCancel"}} class="btn btn-lg btn-danger">Cancel</button>
    </div>
    
    <div class="m-content-trigger-analytics">
        <br><br>
        
        <h2>Last Scanned by:</h2>
        <div>
            <i>No one has scanned this tag yet, be the first one!</i>
        </div>
    </div>
</form>